"*":
  "atom-package-deps":
    ignored: [
      "linter-eslint"
    ]
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "exception-reporting"
      "tree-view"
    ]
  nuclide:
    installRecommendedPackages: true
    "nuclide-home":
      showHome: false
  "tool-bar":
    iconSize: "12px"
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    showIndentGuide: true
    showInvisibles: true
